body{
  font-family: IBM Plex Sans Regular;
  color: var(--dark);
}
.card-image-right{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  height: 100% !important;
}

.m-half{
  margin: 0.5px!important
}

.profile-image{
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.hover-opacity-full:hover{
  opacity: 100% !important;
}

.text-quaternary[aria-selected="true"]{
  color: var(--primary) !important;
}

.main-title{
  font-size: 1.875rem;
  font-weight: 700!important;
}

.pre-line{
  white-space: pre-line;
}

.border-right{
  border-right: 1px solid grey;
}

.fs-1{
  font-size: small !important;
}

.fs-0{
  font-size: x-small !important;
}

.fs-2{
  font-size: medium !important;
}